* {
    font-family: 'JetBrains Mono', monospace;
    text-align: center;
}

body {
    margin-top: 3rem;
}

a,
a:visited,
a:active {
    text-decoration: none;
    color: black;
    padding: 0 0.15rem;
}

a:hover {
    color: lightgreen;
    background-color: black;
}

.socialLinks {
    padding: 0.5em;
    margin-top: 15px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.social {
    margin: 0 0.5rem;
}

@media only screen and (max-width: 522px) {
    p {
        margin-top: 3rem;
    }

    .socialLinks {
        padding: 0.5em;
        margin-top: 2rem;
        flex-direction: column;
    }

    .social {
        display: block;
        margin: 1.5rem;
    }
}